NOTION_TOKEN_ENCRYPTED=
NOTION_DB_ID=
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_PASSWORD_ENCRYPTED=
PG_DBNAME=notion_mirror
MEDIA_PROXY_PORT=8080
SYNC_INTERVAL_MINUTES=2
MAINTENANCE_POLL_MINUTES=15
MAINTENANCE_RUNS_NIGHT_ONLY=0
MAINTENANCE_START_TIME=02:30
MAINTENANCE_WINDOW_HOURS=4
MAINTENANCE_RUN_ON_WAKE=1
MAINTENANCE_WINDOW_START_HOUR=2
MAINTENANCE_WINDOW_END_HOUR=6
INSTANCE_LOCK_STALE_MINUTES=10
CLICKUP_TOKEN_ENCRYPTED=
WORDPRESS_APP_PASSWORD_ENCRYPTED=
S3_SECRET_ACCESS_KEY_ENCRYPTED=
N8N_API_KEY_ENCRYPTED=
